
* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-family: "Andika New Basic", sans-serif;
  font-family: "Inter", sans-serif;
  font-family: "Kdam Thmor Pro", sans-serif;
  font-family: "Oxygen", sans-serif;
}

body {
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  height: 100%;
}

.main {
  height: 100%;
  width: 100%;
  background-size: cover;
  margin: 0 auto;
  color: white;
  font-weight: bold;
  position: absolute;
}

nav {
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 5rem 0rem 10rem;
  position: sticky;
  top: 0;
  border-bottom: 1px solid #f4f5ff;
}

nav .ham i {
  color: #f4f5ff;
  font-size: 2rem;
  cursor: pointer;
  display: none;
}

.logo a {
  color: #fff;
  text-decoration: none;
  font-size: 3.3rem;
  font-weight: bold;
  letter-spacing: 5px;
}

nav ul {
  display: flex;
  list-style: none;
  backdrop-filter: blur(20px);
}

nav ul li {
  margin: 0rem 1.5rem;
  backdrop-filter: blur(20px);
}

nav ul li a {
  color: #f4f5ff;
  text-decoration: none;
  font-size: 1.9rem;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 5px;
  backdrop-filter: blur(20px);
}

nav ul li a:hover {
  color: black;
  background-color: #fff;
  border-radius: 5px;
  transition: all 0.1s ease;
}

#click {
  display: none;
}

@keyframes display {
  0% {
    transform: translateX(200px);
    opacity: 0;
  }

  10% {
    transform: translateX(0);
    opacity: 1;
  }

  20% {
    transform: translateX(0);
    opacity: 1;
  }

  30% {
    transform: translateX(-200px);
    opacity: 0;
  }

  100% {
    transform: translateX(-200px);
    opacity: 0;
  }
}

.pic-ctn {
  position: relative;
  width: 50%;
  height: 100%;
  margin-top: 15vh;
}

.pic-ctn>img {
  border-radius: 8px;
  height: 20rem;
  width: 60%;
  position: absolute;
  top: 0;
  /* left: calc(50% - 100px); */
  opacity: 0;
  animation: display 10s infinite;
}

img:nth-child(2) {
  animation-delay: 2s;
}

img:nth-child(3) {
  animation-delay: 4s;
}

img:nth-child(4) {
  animation-delay: 6s;
}

img:nth-child(5) {
  animation-delay: 8s;
}
footer {
  bottom: 0px;
  width: 100%;
  font-size: 16px;
  /* letter-spacing: 1px; */
}

.socialmedia {
  display: flex;
  margin: 0;
  padding: 2rem;
  color: white;
  justify-content: space-between;
}
.socialmedia a{
  text-decoration: none;
}

.row {
  display: flex;
}

.column {
  flex: 33%;
  padding: 10px;
  height: 15rem;
  width: auto;
  text-align: center;
  color: white;
  overflow: hidden;
  word-wrap: break-word;
}

.copyright {
  text-align: center;
  color: white;
  background-color: #040303;
}

@media only screen and (min-width: 600px) {

  .logo2 {
    width: 17rem;
  }
  nav ul{
    backdrop-filter: blur(20px);
  }
}


@media (max-width: 985px) {
  nav .ham i {
    display: block;
  }

  .logo2 {
    width: 15rem;
  }

  #click:checked ~ .ham i:before {
    content: "\f00d";
  }

  nav ul {
    position: fixed;
    top: 8rem;
    left: -100%;
    height: 30vh;
    width: 100%;
    display: block;
    text-align: center;
    transition: all 0.3s ease;
  }

  #click:checked ~ ul {
    left: 0%;
  }

  nav ul li {
    margin: 2rem 0;
  }

  nav ul li a {
    font-size: 2rem;
    display: block;
  }

  nav .ham i {
    display: block;
  }

  .logo {
    flex: 1;
  }
  .logo a {
    font-size: 2.8rem;
  }

}



@media only screen and (min-width: 600px) {
  .pic-ctn>img {
    height: 20rem;
    width: 80%;

}
}

@media only screen and (min-width: 768px) {
  .pic-ctn>img{
    height: 20rem;
    width:75%;

}
}

@media (max-width: 985px) {
  .pic-ctn>img {
    height: 20rem;
    width: 60%;
}
}
